
a{
    text-decoration: none;
}
.background{
    background-image: url(star-background2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.physics-background{
    background-image: url(scifi-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.wall-E-text-animated1{
    color: rgb(192, 212, 228);

}
body{
    margin: 0;
    margin-left: 1vw;
    margin-bottom: 50px;
    height: 100vh;
}
.header-main{
    width: 99vw;
    display: flex;
    place-items: left;
    margin-left: 1vw;

}
.header-text{
    margin: auto;
    padding: 20px;
    color: rgb(238, 223, 223);
}
.main-image{
    width: 40vw;
    height: auto;
    border-radius: 50%;
}
.title-text{
    color: rgb(73, 132, 184);
}
.title-text-Description{
    color: rgb(29, 113, 185);
    place-items: left;
}
.PDF{
    color: rgb(25, 114, 192);
    display: flex;
    margin-top: 10vw; 
    margin-left: 2vw;
    
}
.PDF-title{
    color: rgb(36, 125, 184);
    display: grid;
    place-items: center;
}
.MATH{
    width: 46vw;
    height: 15vh;
    color: #5d8ebee8;
    background-color: #08081459;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    display: grid;
    margin: 1vw;
    box-shadow: 0 0 5px cyan,
    0 0 25px rgb(23, 172, 172)
    ;
    transition: 1s;
    font-weight: bold;
    font-size: larger
}
.MATH:hover{
    box-shadow: 0 0 5px cyan,
    0 0 10px cyan, 0 0 25px cyan,
    0 0 50px cyan , 0 0 100px cyan
    ;
}
.MATH-child{
    place-self: center;
    
}
.PHYSICS{
    width: 46vw;
    height: 15vh;
    color: #042e5893;
    background-color: rgba(20, 48, 100, 0.11);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    display: grid;
    margin: 1vw;
    box-shadow: 0 0 5px cyan,
    0 0 25px rgb(23, 172, 172)
    ;
    transition: 1s;
    font-weight: bold;
    font-size: larger
    
}
.PHYSICS:hover{
    box-shadow: 0 0 5px cyan,
    0 0 10px cyan, 0 0 25px cyan,
    0 0 50px cyan , 0 0 100px cyan
    ;
}
.PHYSICS-child{
    place-self: center;
    color: rgba(148, 135, 197, 0.705);
}
.links{
    color: rgb(0, 0, 0);
}
.PDF-items{
    width: 80vw;
    height: 15vh;
    background-color: rgba(7, 4, 4, 0.096);
    display: grid;
    margin: auto;
    box-shadow: 0 0 5px rgb(218, 37, 5),
    0 0 25px rgb(241, 3, 3)
    ;
    border-radius: 20px;
    transition: 1s;
    margin-bottom: 30px;
}
.PDF-items:hover{
    box-shadow: 0 0 5px  #FB016F,
    0 0 10px  #FB016F, 0 0 25px  #FB016F,
    0 0 50px  #FB016F , 0 0 100px  #FB016F
    ;
}
.PDF-items-design{
    background-color:  #0c0c0c7c;
    border-radius: 20px;
}
.PDF-items-design-2{
    background-color:   #ffffff50;
    border-radius: 20px;
    color: #112A46;
    font-size: larger;
    font-weight: bold;
}
.PDF-items-2{
    width: 80vw;
    height: 15vh;
    display: grid;
    margin: auto;
    box-shadow: 0 0 5px cyan,
    0 0 25px rgb(23, 172, 172)
    ;
    border-radius: 20px;
    transition: 1s;
    margin-bottom: 30px;
    
}
.PDF-items-2:hover{
    box-shadow: 0 0 5px cyan,
    0 0 10px cyan, 0 0 25px cyan,
    0 0 50px cyan , 0 0 100px cyan
    ;
}
.title-topic{
    color: #ccbbbe;
    font-style: normal;
    font-size: 20px;
}

.wall-E{
    height: 20vh;

}
.wall-E-title{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.wall-E-text{
    color: aliceblue;
}