
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Boogaloo&family=Dhurjati&display=swap');
.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');


body{
    font-family: "Archivo Black ";
    background-color: #0f0f0f;
    color: rgb(33, 112, 180);
}
.front-io{
  display: inline-block;
  width: 100%;


}
.btn-nav{
  background-color: bisque;
  border-radius: 20px 0 10px ;
  align-items: center;
  position: relative;

}
.main-text{
  font-family: "Truculenta", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: auto;
  text-align: center;
  font-optical-sizing: auto;

}
h1 span::before{
  content: '';
  color: #d4c219;
  animation: profile 10s infinite;
}
@keyframes profile {
  0% {content: 'Hello!';}
  35% { content: 'Hola!'}
  65% { content: 'こんにちは !'}
  100% { content: 'مرحبًا'}
}